{% extends "base.html" %}

{% block content %}
  <ul class="collapsible popout" data-collapsible="accordion">
    {% for jedi in jedi_list %}
      <li>
        <div class="collapsible-header">
            <strong>{{ jedi.name }}</strong>
            <span class="badge">{{ jedi.padavan.count }}</span>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            {% for padavan in jedi.padavan.all %}
              <li class="collection-item">
                <strong>{{ padavan.name }}</strong> (возраст: {{ padavan.age }})
              </li>
            {% empty %}
              <p>Данный мастер не имеет падаванов</p>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
