{% extends "base.html" %}

{% block content %}
<h3>Регистрация в падаваны</h3>
  <form method="post" class="row">
    {% csrf_token %}
    <div class="col s12">
      {% for field, error in form.errors.items %}
        {{ error }}
      {% endfor %}
    </div>
    <div class="col s12 input-field">
      {{ form.name }}
      {{ form.name.label_tag}}
    </div>
    <div class="col s12 input-field">
      {{ form.email }}
      {{ form.email.label_tag}}
    </div>
    <div class="col s12 input-field">
      {{ form.age }}
      {{ form.age.label_tag}}
    </div>
    <div class="col s12 input-field">
      {{ form.planet }}
      {{ form.planet.label_tag}}
    </div>
    <div class="col s12 input-field center-align">
      <input type="submit" value="Продолжить регистрацию" class="btn">
    </div>
  </form>
{% endblock %}
