{% extends "base.html" %}

{% block content %}
  <h3>Вопросы для экзамена</h3>
  <form method="post" class="row">
    {% csrf_token %}
    {% for field in exam_form %}
      <div class="col s12 input-field">
        {{ field }}
        {{ field.label_tag }}
      </div>
    {% endfor %}
    <div class="col s12 input-field center-align">
      <input type="submit" value="Отправить на проверку" class="btn">
    </div>
  </form>
{% endblock %}
