<ul class="collection">
  {% for answer in answer_list %}
    <li class="collection-item row">
      <div class="col s11">
        {{ answer.question.text }}
      </div>
      <div class="col s1">
        {% if answer.answer %}
          <i class="material-icons green-text">done</i>
        {% else %}
          <i class="material-icons red-text">clear</i>
        {% endif %}
      </div>
    </li>
  {% empty %}
    <li>Кондидат испугался вопросов</li>
  {% endfor %}
</ul>
