{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col s12">
    {{ jedi_list.name }}
  </div>
</div>
<div class="row">
  <div class="col s12">
    {% if current_jedi %}
        <h3>Кандидаты в падаваны</h3>
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for padavan in candidate_list %}
            <li>
              <div class="collapsible-header">
                <div class="row">
                  <div class="col s9">
                    <strong>{{ padavan.name }}</strong>
                  </div>
                  <div class="col s3">
                    возраст: {{ padavan.age }}
                  </div>
                </div>
              </div>
              <div class="collapsible-body">
                {% include 'examination/exam_answer.html' with answer_list=padavan.answer.all %}
                <div class="row">
                  <div class="col s4 offset-s8 right-align">
                    <a href="{% url 'accept' current_jedi.id padavan.id %}"
                      class="btn {% if current_jedi.padavan.count >= 3 %} disabled {% endif %}">
                      Взять в падаваны
                    </a>
                  </div>
                </div>
              </div>
            </li>
          {% empty %}
          <p class="flow-text">На вашей планете нет кандидатов в падаваны</p>
          {% endfor %}
        </ul>
    {% else %}
      <p class="flow-text">Выберите себя и списка мастеров Джедаев</p>
    {% endif %}
  </div>

</div>
{% endblock %}
