{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" media="screen,projection" />
    <title>Академия Джедаев</title>
</head>

<body class="grey lighten-3">
    <!--Import jQuery before materialize.js-->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <div class="container">
      <h1 class="center-align">Академия Джедаев</h1>
      <div class="row">
        <div class="col m9">
          <div class="card-panel">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div class="col m3">
          {% include "menu.html" %}
        </div>
      </div>
    </div>
</body>

</html>
