<div class="collection z-depth-1">
  <a href="{% url 'register' %}" class="collection-item">Записаться на обучение</a>
  <a href="{% url 'result_list' %}" class="collection-item">Результаты испытаний</a>
  <a href="{% url 'padavan_list' %}" class="collection-item">Список учеников</a>
</div>
